<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'bootstrap.html' %}
  <title>Dk_Careers</title>
</head>
<body>
  <div class="container">
  <h1 class="text-center mb-3 mt-3"> Welcome To {{comp_name}} Career website</h1>
  <div class="text-center">
    <img src="https://images.pexels.com/photos/1542495/pexels-photo-1542495.jpeg" width="100%">
  </div>
  <h2 class="text-center mb-5 mt-5"> About Dk</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
    <h2 class = "text-center">Open Positions</h2>
  <h4>
    <p>
      {% for job in jobs%}
         {% include 'job.html' %}
    </br>
      {% endfor %}
    </p>
  </h4>
<div class="text-center mb-5">
  <button class="btn btn-primary">Contact us</button>
</div>
</div>
</body>
</html>