{% include 'bootstrap.html' %}
<div > 
  <div style="border-bottom:1px solid grey" class="row">
  <div style="font-size:15px" class ="col-9">
        <h5 style="color:RGB(120 119 126)">{{job['title']}}</h5>
        <div>
          <b>Location : </b>{{job['location']}}
        </div>
        <div style="margin-bottom:5px">
          <b>Salary : </b>{{job['salary']}}
        </div>
  </div>
  <div class ="col-3" style="text-align:end;">
    <a href="/job/{{job['id']}}" type="button" class="btn btn-outline-primary">Apply</a>  
<!-- giving route url in href -->
  </div>
  </div>
</div>