{% include 'bootstrap.html' %}
<div style="top:25%; left:35%;" class="card w-25 shadow p-3">
  <div style="padding:25px;">
<form action="/home" method="post">
  <!-- user input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">User ID</label>
    <input type="text" name="user_id" class="form-control w-50" placeholder="only integers" required/>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" name="password" class="form-control w-50" / required>
  </div>
  
  <input class="btn btn-primary" type="submit" >

</form>
  </div>
</div>